.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 200px;
    height: auto;
    margin-top: 6%;
  
    font-family: monospace;
    align-items: center;
    cursor: pointer;
    border-radius: 34px;
    border: 1px solid #797979;
    flex: 0 0 30%;
    background-color: hsla(0, 0%, 94.5%, 0.8);
    box-shadow: 6px 6px 10px rgb(71 71 71 / 43%);
}