.navbar {
  display: flex;
  margin: auto;
  padding: 30px 9%;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  font-family: "Urbanist";
}

.links {
  display: flex;
  justify-content: space-between;
  width: 18%;
}
.button{
  height: 10px;
}
